* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 50px 60px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.3);
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    height: 100px;
} 
nav li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }
  nav li span {
      padding-left: 5px;
  }
  li a {
      padding: 5px;
      background-color: #fff;
      text-decoration: none;
  }
  .cart ion-icon {
      vertical-align: bottom;
      font-size: 22px;
      padding-right: 5px;
  }
  .cart a {
        background-color: blue;
        color: wheat;
        cursor: pointer;
        text-decoration: none;
  } 
  .container {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
    font-size: large;
    color: rgb(240, 222, 222);
}
.img {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    }


h1 {
    color: black;
    text-align: center;
}
h2 {
    color: thistle;
    font-size: x-large;
}
body {
    background-color: grey;
    margin: 5%;
    margin-top: 0%;

}

.container>img {
    width: 100%;
}
header {
    display: inline-flex;
}
#About {
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-size: xx-large;
    border: none;
    text-align: center;
}
  .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 50px;
      scroll-padding-bottom: 100px;
      text-align: center;
  }
  .products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    scroll-padding-bottom: 100px;
    text-align: center;
}
  .order-now {
      position: absolute;
      width: 100%;
      background-color: blanchedalmond;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      cursor: pointer;
      text-align: center;
      text-overflow: clip;
      text-shadow: teal;
  }
  .img:hover .order1,
  .img:hover .order2,
  .img:hover .order3,
  .img:hover .order4,
  .img:hover .order5,
  .img:hover .order6,
  .img:hover .order7,
  .img:hover .order8,
  .img:hover .order9 {
      bottom: 50px;
      opacity: 1;
      padding: 10px;
      text-decoration: none;
  }
  #welcome {
      text-align: center;
      font-size: xx-large;
      color: whitesmoke
  }
  .footer {
      color: white;
      font-size: x-large;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: end;
  }
  .product {
    background-color: rgba(10, 10, 10, 0.3);
    text-align: center;
    font-size: large;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
  }
  .products-container  {
    background-color: rgba(10, 10, 10, 0.3);
    text-align: center;
    font-size: large;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
  }
  /* .products-container ion-icon {
    font-size: 25px;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }  */
  .product-header {
      width: 100%;
      max-width: 650px;
      display: flex;
      justify-content: flex-start;
      border-bottom: 4px solid gold brown;
      margin: auto;
  }
  .product-title {
      width: 45%;
  }
  .price {
    width: 15%;
    border-bottom: 1px solid brown;
    display: flex;
    align-items: center;
  }
  .quantity {
      width: 30%;
      border-bottom: 1px solid brown;
      display: flex;
      align-items: center;
  }
  .total {
    width: 15%;
    border-bottom: 2px solid brown;
    display: flex;
    align-items: center;
  }
  .product {
      width: 45%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
      border-bottom: 4px solid brown;
  }
  .basketTotalContainer {
      display: flex;
      justify-content: flex-end;
      width: 100px;
      padding: 10px 0;
  }
  .basketTotalTitle {
      width: 30%;
  }
  .basketTotal {
      width: 10px;
  }
  .order-box {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.8);
      z-index: 99999;
      transition: 0.3s linear;
      transform: scale(0);
  }
  .order-box.active {
      transform: scale(1);
  }
  .order-box .order {
      position: relative;
      height: 70%;
      width: 80%;
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
  }



  i {
      color: black;
  }